body{
    margin: 0;
    background-color: #364022;
    font-family: 'Roboto', sans-serif;
}
#wrapper{
    width: 80vw;
    margin: 0 auto;
    background-color: #727355;
    padding: 3%;
    padding-top: 0;
}

header{
    text-align: center;
}
h1{
    margin-top: 0;
    padding-top: 2%;
    font-size: 3em;
}
h1, h2, h3{
    color: #D6ACF2;
}
#me{
    border: 2px solid black;
}

main{
    padding-top: 1%;
}
main p{
    line-height: 30px;
    text-indent: 30px;
}
h3{
    font-style: italic;
}
section{
    padding-bottom: 2%;
}

#movies li{
    list-style-type: none;
    padding-bottom: 1%;
}
#movies li:hover{
    font-size: 1.2em;
    color: white;
    text-decoration: underline;
}